@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-almost-white: #eff2f9;
  /* --bg-sidebar-blue: #092a4e; */
  --bg-sidebar-blue: #124277;
}

@media print {
  .no-print {
    display: none;
  }
}

body {
  /* background: var(--bg-almost-white); */
}

.bg-white {
  background: white;
}

.bg-sidebar {
  background: var(--bg-sidebar-blue);
  color: white;
}

.container {
  max-width: 800px;
}

@media screen {
  .page-border {
    @apply rounded border-2 border-solid border-slate-200
  }
}

.propic-img {
  width: 56px !important;
  height: 56px !important;
  @apply rounded-full border-solid border-2 w-14 h-14
}

p > svg {
  display: inline-block;
}

.download-button {
  @apply bg-slate-100 hover:bg-slate-200 text-black text-xs py-1 px-2 rounded float-right m-2
}

.download-button > svg {
  display: inline-block;
}